.btn-b56ea {
  background: blue;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px;
}

.fizzle-45eec,
.btn-b56ea {
  margin: 20px 0;
}

.btn-secondary-142cc {
  background: grey;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 10px;
}

.header-b881a {
  padding: 20px;
  background: green;
}

.header-b881a a {

}

.fizzle-45eec,
.btn.primary {
  color: green;
}

.foo-bar {
  background: orange;
}
