.fizzle-45eec,
.btn-b56ea {
  margin: 20px 0;
}

.header-b881a {
  padding: 20px;
  background: green;
}

.header-b881a a {

}

.fizzle-45eec,
.btn.primary {
  color: green;
}

.foo-bar {
  background: orange;
}
