# npm packages
node_modules

# CLJS compiler folder
target

# CLJS compiled files
public/js/app-dev.js
public/js/app-prod.js
app.js

# ignore diffs
*.diff

# protect our config file
config.json

.shadow-cljs
