/*----------------------------------------------------------------------------*
 * Fonts                                                                      *
 *----------------------------------------------------------------------------*/

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/OpenSans-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('../fonts/DroidSansMono.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*----------------------------------------------------------------------------*
 * Tag Selectors                                                              *
 *----------------------------------------------------------------------------*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
}

/*----------------------------------------------------------------------------*
 * Snowflake Classes                                                          *
 *----------------------------------------------------------------------------*/

.title-5ac1e {
  font-family: "Open Sans Light";
  font-weight: 300;
}

.container-53f43 {
  margin: 0 auto;
  width: 1200px;
}

.main-input-f14b8 {
  font-size: 24px;
  margin: 20px 0;
  padding: 12px;
  width: 100%;
}

.clr-7f0e5 {
  clear: both;
}

.wrapper-463b0 {

}

.class-col-5acc6 {
  float: left;
  width: 20%;
}

.files-col-74a77 {
  float: left;
  width: 30%;
}

.fileview-col-c79be {
  float: left;
  width: 50%;
}

.list-wrapper-7462e {
  border: 1px solid #ddd;
  border-bottom: 0;
}

.single-class-f529a {
  border-bottom: 1px solid #ddd;
  padding: 12px;
}

.file-row-c9a43 {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  padding: 12px;
}

.small-title-b4fba {
  color: #888;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.col-title-2c774 {
  color: #555;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
  text-transform: uppercase;
}

.count-13cac {
  color: #222;
  font-family: "Open Sans Light";
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  text-transform: none;
}

.small-facts-6b6e3 {
  color: #555;
  font-family: "Open Sans Light";
  font-size: 12px;
  font-weight: 300;
}

.active-8ff04 {
  background: #49f1ff;
}

/*----------------------------------------------------------------------------*
 * Snowflake Classes                                                          *
 *----------------------------------------------------------------------------*/

.flex-container-s6d73 {
  display: flex;
}

.flex-container-s6d73 .left {
  border: 1px solid #ccc;
  flex: 20;
  padding: 15px;
}

.flex-container-s6d73 .right {
  border: 1px solid #ccc;
  border-left: 0;
  flex: 80;
  padding: 15px;
}

.tabs-sd691 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tabs-sd691 li {
  display: inline-block;
}

.tabs-sd691 a {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 8px 16px;
}

.active-sb974 {
  background: #e1e0f5;
}

.primary-s04e4 {
  padding: 8px 16px;
}

.search-input-s24fa {
  display: block;
  font-size: 16px;
  padding: 4px;
  width: 100%;
}

.sort-by-s7ff8 {
  color: #aaa;
  display: block;
  font-size: 11px;
  font-weight: 600;
  margin: 15px 0;
  text-transform: uppercase;
}

.sort-by-s7ff8 select {
  display: inline-block;
  margin-left: 8px;
  padding: 4px;
}

.class-name-sb0bc {
  font-family: "Open Sans Light";
  font-size: 34px;
  font-weight: 300;
}

.link-s4dda {
  color: #02c;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-left: 8px;
}

.link-s4dda:hover {
  text-decoration: underline;
}

.definition-s7e19 {
  flex: 35;
  padding-right: 15px;
}

.preview-s376a {
  flex: 65;
}

.header-s63ca {
  border-bottom: 1px solid #ddd;
  color: #999;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 6px;
  text-transform: uppercase;
}

.class-list-sfe2c {
  list-style: none;
  margin: 0;
  padding: 0;
}

.class-list-sfe2c li {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 8px 0;
}

.no-results-s993d {
  color: #777;
  font-family: "Georgia", serif;
  font-size: 14px;
  font-style: italic;
}

.classname-sfb8e {

}

.small-count-s3096 {
  color: #aaa;
  font-size: 12px;
}

.muted-s5ce7 {
  color: #888;
  font-family: "Open Sans Light";
  font-weight: 300;
}

.muted-sff17 {
  color: #aaa;
}

.definition-list-s7860 {
  font-family: "Droid Sans Mono", monospace;
  list-style: none;
  margin: 0;
  padding: 0;
}

.property-s9fe7 {
  margin: 8px 0;
}

.key-s2dab {
  color: #cc1d1d;
}

.val-s1b79 {
  display: inline-block;
  margin-left: 4px;
}

.preview-wrapper-sb56f {

}

.small-link-sf848 {
  color: #02c;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  margin-left: 5px;
  text-transform: none;
}

.small-link-sf848:hover {
  text-decoration: underline;
}

.files-container-s0cbd {
  flex: 30;
}

.text-container-sd0e9 {
  flex: 70;
}

.files-list-sf03b {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tagline-1119f {
  color: #ccc;
  font-style: italic;
  font-size: 11px;
}

.file-sbc22 {
  cursor: pointer;
  font-family: "Droid Sans Mono";
  font-size: 12px;
  padding: 8px 0;
}

.file-sbc22:hover {
  background: #eee;
}

.active-se4ea {
  background: #cfcff7;
}

.code-line-se969 {
  color: #888;
  font-family: "Droid Sans Mono";
  font-size: 12px;
  min-height: 18px;
}
